# Rundown

In [6]:
import pandas as pd
import rundown

pd.DataFrame.rundown = rundown.rundown_method

# Test

In [12]:
df = pd.read_csv('https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv')

In [13]:
df.rundown()